My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1484,
        400
      ],
      "id": "9addc709-ae2b-4df8-8640-befccccc52f5",
      "name": "4o mini1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the topic to write a blog about: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "# Overview\nYou are an expert outline writer. Your job is to generate a structured outline for a blog post with section titles and key points."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1020,
        180
      ],
      "id": "79b49996-f966-44af-a189-7e4e08cadff3",
      "name": "Outline Writer1"
    },
    {
      "parameters": {
        "content": "# Prompt Chaining\n\n",
        "height": 260,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -160
      ],
      "typeVersion": 1,
      "id": "a18402e6-9c60-4ebb-80f5-8b2b0bd94012",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the outline: \n\n{{ $json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert blog evaluator. Revise this outline and ensure it covers the following key criteria: \n(1) Engaging Introduction \n(2) Clear Section Breakdown\n(3) Logical Flow\n(4) Conclusion with Key Takeaways\n\n## Output\nOnly output the revised outline."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1396,
        180
      ],
      "id": "57c19ce4-a186-4150-af16-5a5ef0f0308f",
      "name": "Outline Evaluation1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here if the revised outline: {{ $json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert blog writer. Generate a detailed blog post using the outline with well-structured paragraphs and engaging content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1772,
        180
      ],
      "id": "1a8c7f06-3a24-4547-8c9b-e852d8af6e93",
      "name": "Blog Writer1"
    },
    {
      "parameters": {
        "operation": "update",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2148,
        180
      ],
      "id": "1585451a-a50a-4bcb-bdc7-f0e0a7d9e1a2",
      "name": "Post to Docs1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1108,
        400
      ],
      "id": "855451bd-d079-422c-af0a-2ab01e536741",
      "name": "2.0 Flash1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1860,
        400
      ],
      "id": "647d3ae0-ded2-453d-b3a6-9e0be6886981",
      "name": "OpenRouter Chat Model1"
    }
  ],
  "pinData": {},
  "connections": {
    "4o mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Evaluation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outline Writer1": {
      "main": [
        [
          {
            "node": "Outline Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Evaluation1": {
      "main": [
        [
          {
            "node": "Blog Writer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Writer1": {
      "main": [
        [
          {
            "node": "Post to Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.0 Flash1": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Writer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Writer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b32d4d8c-6d2f-4a4f-b1f9-00e9e8ded9bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bdc430e1baa28d2ff04732d32352e2d0f6a9e54d9322f6e0d5cc8013bb6121f"
  },
  "id": "PYZnjAXhpZnuPTjE",
  "tags": []
}